# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs
lib-cov

# Coverage directory
coverage

# nyc test coverage
.nyc_output

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Serverless directories
.serverless/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

.vercel
